@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(css/font-awesome.css);
/*
 * Main styling for workchop
 * @author Precious Omonze
 * @contributors ..Haastrup Adejoke
 */
 body {	color:#666;
 //font:300 15px/15px Roboto,Arial,Helvetica;
 font-family:'Segoe UI',Tahoma,Helvetica,sans-serif;
 background-color:#f3f3f3;
 -webkit-font-smoothing:antialiased;
 }

a{color:#00a9c6; text-decoration:none;}
a:hover{color:#666;}
.btn,a,.btn:hover,a:hover {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
outline: none !important;
}

.center{
	text-align:center;
}
.colour-blue{
	color:#0075d8;
}
.color-gold{
	color:#ffdd00;
}
 
textarea{
	resize: vertical !important;
} 
 
/* ICONS */
.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}
		
/*btn feel*/
.btn-feel{
	border:1px solid rgba(0,0,0,0.2);
	background-image:linear-gradient(to bottom, #ffffff, #fcfcfc);
}
		
/* menu */

  /*Menu design */
  .navbar{
	  background-color: #0075d8;
	  box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 3px rgba(12,13,14,0.1),0 4px 20px rgba(12,13,14,0.035),0 1px 1px rgba(12,13,14,0.025);
	  border-top:3px solid #ffdd00;
	  color:#fff;
	  text-shadow:0px 1px 1px rgba(0,0,0,0.4);
  }
   .navbar .navbar-brand{
	   border-right:none;
	   //position:relative;
   }
   
   .navbar-brand img{
	width:120%;
   }
   .navbar-brand span{
	   vertical-align:middle;
	   position:absolute;
	   top:2px;
	   left:8px;
	   font-size:19px !important;
   }
  
  .navbar a{
	  color:inherit !important;
	  border-right: 1px solid rgba(0,0,0,0.1);
  }
  .navbar a:last{
	  border-right:1px solid transparent !important;
  }
  
  .navbar a:hover, .navbar .active a{
	  color: #fff  !important;
	  background-color: transparent !important;
	  border-bottom:3px solid #ffdd00;
  }
   .navbar .active a span{
  
	  font-weight:600 !important;
  }

  /*RULES*/
  @media (min-width:768px) {
      .navbar a:hover:before, .navbar .active a:before{

          content: "";
          position: absolute;
          top: -9%;
          z-index: -1 !important;
          left: 45%;
         // background-color:#ca080f;

          height: 10px;
          width: 10px;
          border-right: 1px solid rgba(0,0,0,0.2);
          border-bottom: 1px solid rgba(0,0,0,0.2);
          transform: rotate(45deg);
      }


      .navbar a .icon {
		  margin-right:5px;
          text-align: center;
          font-size: 19px;
      }

      .navbar a span {
          font-size: 12px;
          font-weight: 500;
      }

  }

  @media (max-width:767.99px) {

      .navbar a .icon {
        margin-right:7px;
          font-size:17px;
          width:20px;
      }

      .navbar a span {
          font-size: 17px;
          //font-weight: 500;

      }

  }		
	/*end of navbar ====================================================== */

.whole-body{
	margin-top:120px;
}	
		
/* Home page */
.profile-sidebar{
	padding:10px;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	text-align: center;
}

.profile-sidebar img{
	border-radius:10px;
	width:100%;
	border:5px solid rgba(255,255,255,1);
	box-shadow:1px 3px 2px 1px rgba(0,0,0,0.2);
}

.profile-sidebar .their-names{
	font-weight:600;
	font-size:19px;
	margin-top:10px;
}

/*center body*/
.center-body{
	padding:10px;
}

.center-body .inside{
	border:1px solid rgba(0,0,0,0.2);
	border-radius:2px;
	background-color:#ffffff;
}

.inside .head{
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding:20px 12px;
	box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 3px rgba(12,13,14,0.1),0 4px 20px rgba(12,13,14,0.035),0 1px 1px rgba(12,13,14,0.025);
	
}

.head form select{
	border-radius:1px !important;
	position:relative;
	right:7px;
}

.head form button{
	
}

.inside.activity-stream .body{
	padding:10px;
	background-color:#f8f8f8; 
	
}
.inside.activity-stream .body .big-search{
	text-align:center;
	margin:auto;
	padding:50px 5px 95px 5px;
	text-shadow:0px 1px 0px rgba(255,255,255,1);
	font-weight:600;
	font-size:21px; 
	
}
.inside.activity-stream .body .icon{
	font-size:150px !important;
	text-align:center;
	color:#0075d8 !important;
}

/*right side menu*/
.right-side-menu{
	color:#454545;
	font-size:15px;
	padding-top: 10px;
}


.right-side-menu ul{
	border:1px solid rgba(0,0,0,0.1);
	border-radius:2px;
	list-style:none;
	background-color:#ffffff;
	padding: 0;
	border-right:4px solid #0075d8;
}
	

.right-side-menu ul li{
	display:block;
	margin:0;
	
}	


.right-side-menu ul li a{
	display:block;
	width:100%;
	height:100%;
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding:16px 7px;
	color:inherit;
	text-decoration:none;
}

.right-side-menu ul a:hover,.right-side-menu ul li.active a{	
	text-decoration:none;
	border-left:3px solid #ffdf00;
}

.right-side-menu ul li .icon{
	font-size:18px ;
	margin-right:5px;
}

.right-side-menu ul a:hover .icon,.right-side-menu ul li.active .icon{	
	color:#ffdf00;
}

/**This begins the css sturffs for profile**/ 


.profile-body .head{
	padding:15px 10px;
	
} 

.profile-body .head .icon{
	font-size:1.2em;
	color:#0075d8;
	
}


.head .write{
	font-weight:lighter;
	font-size:1.67em;
	
}


.body-part{
	height:auto;
	width:100%;
	padding:10px;
	background-color:#ffffff;
} 

.profile-body input{
	padding:2px; 
	border:none;
	border-bottom:1px solid rgba(0,0,0,0.1) !important; 
	

	
}

/**tradesman tag css**/

.tradesman-body{
	
	margin-top:25px;
}

.tradesman-body .head{
	padding:20px 10px;  
		
}

.write .icon{
	font-size:1.2em;
	color:#0075d8;
	
} 

.trade-inside{
	color:#666 !important;
	font-size:15px;
	padding-top:10px; 
	
} 

.trade-inside ul{
	border:1px solid rgba(0,0,0,0.1);
	border-radius:2px;
	list-style:none;
	background-color:#ffffff;
	padding: 0;
	//border-right:4px solid #0075d8;
} 


.trade-inside ul li{
	
	display:block;
	margin:0;
	
}   

.trade-inside ul li a{
	display:block;
	width:100%;
	height:100%;
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding:16px 7px;
	color:inherit;
	text-decoration:none;	
}

 
.trade-inside ul a:hover,.trade-inside ul li.active a{	
	text-decoration:none;
	border-left:4px solid #0075d8;
} 

.trade-inside ul li .icon{
	font-size:18px ;
	margin-right:10px;
} 

.wc-badge{
padding:5px 10px;
font-size:14px;
border:2px solid rgba(0,0,0,0.2);
background-color:#0075d8;

color:#ffffff;
text-shadow:0px 1px 0px rgba(0,0,0,0.5);
margin-right:15px;
border-radius:2px;
	
}

/*messages part*/
.messages{
	
}

.messages .message-box{
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding:10px 5px;
}

.messages .message-box img{
	width:70%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	-o-border-radius:100%;
	-ms-border-radius:100%;
	margin:auto;
	border-radius:100%;
	border: 1px solid rgba(0,0,0,0.3);
}

.message-box .person-name{
font-size: 19px;
margin: 5px 0;
word-wrap: normal;
overflow: hidden;
text-overflow: ellipsis;
height: 25px;
white-space: nowrap;
width: 89%;

}

.message-box .message-part{
	font-size:15px;
margin: 5px 0;
word-wrap: normal;
overflow: hidden;
text-overflow: ellipsis;
height: 25px;
white-space: nowrap;
width: 89%;
}
.message-box .detail-section{
	margin:5px 5px;
	
}

.message-box.two{
	background-color:#fafafa !important;
}

.message-box.unread{
	background-color: #0075d81a !important;
    font-weight: 600;

}

.message-box .wc-badge{
	position:absolute;
	right:0;
}

/*message itself*/
.message-itself{
	
}
.message-itself .inner{
margin: 5px 15px;
border-radius: 3px;
box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.1);
padding: 10px;
color: #fff;
text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
font-size: 14.5px;
max-width:71%;
word-wrap:break-word;
position:relative;
}

.message-itself .message.left .inner{
	float: left;
background-color: #dec50c;

}


.message-itself .message.right .inner{
	float: right;
background-color: #0075d8;

}

.message-itself .message.left .inner:before{
			content: "";
          position: absolute;
          top: 10px;
          z-index: 1 !important;
          left: -7px;
         background-color: inherit;

          height: 17px;
          width: 17px;
          border-left: 1px solid rgba(0,0,0,0.2);
          border-bottom: 1px solid rgba(0,0,0,0.1);
          transform: rotate(45deg);
}
.message-itself .message.right .inner:after{
			content: "";
          position: absolute;
          top: 10px;
          z-index: 1 !important;
          right: -7px;
         background-color: inherit;

          height: 17px;
          width: 17px;
          border-right: 1px solid rgba(0,0,0,0.2);
          border-top: 1px solid rgba(0,0,0,0.1);
          transform: rotate(45deg);
}


/*message sending part*/
.new-message{
	background-color:#fcfcfc;
	padding:5px 0;
}

.new-message textarea{
	min-height:50px;
	border-radius:1px;
}
.new-message button{
	font-size:17px;
	text-shadow:0px 1px 1px rgba(0,0,0,0.1);
} 

/**THIS IS WHERE I START THE CSS OF THE INFORMATION ABOUT THE TRADESMEN DEM remain blessed!***/

.trade-info {
	color:#666 !important;
	font-size:15px;
	padding-top:10px; 
	
}

.trade-info ul{

	border:1px solid rgba(0,0,0,0.1);
	border-radius:2px;
	list-style:none;
	background-color:#ffffff;
	padding: 0;
	//border-right:4px solid #0075d8;	
	
} 

.trade-info ul li{
	
	display:block;
	margin:0;
	border-bottom:1px solid rgba(0,0,0,0.1);
} 

.trade-info ul li.two{
	background-color:#f3f3f3;
}


.trade-info ul li a{
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding:16px 7px;
	color:inherit;
	text-decoration:none;	
}   


.trade-info ul a:hover{	
	text-decoration:none;
	border-right:4px solid #0075d8;
} 

.trade-info ul li .icon{
	font-size:18px ;
	margin-right:10px;
}   


.trade-info img{
	width:65%;
	border-radius: 100%;
	border: 1px solid rgba(0,0,0,0.2);
	position:relative;
	top:15px;
} 

.trade-info .person-name{
	font-size:20px;
	margin:15px 0 3px;
}

.trade-info .person-location{
	font-size:15px;
	color: rgba(0,0,0,0.6);
}

.trade-info .info-box{
	border-left:1px solid rgba(0,0,0,0.1);
	background-color:#f9f9f9 !important;

}
.trade-info li.two .info-box{
	background-color:#f0f0f0 !important;
}

.trade-info .info-box a{
	display:block;
	width:100%;
	width:auto !important;
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding:3px;
	color:inherit;
	text-decoration:none;
	
}
.trade-info .info-box a:last{
	border-bottom:0px solid transparent !important;
	
}

.trade-info .info-box .icon{
	font-size:15.5px;
} 


/***THIS IS WHERE I START THE CSS TO ADD TRADESMAN***/ 
.add-trade {
	color:#666 !important;
	font-size:15px;
	padding-top:10px; 
	
}

.add-trade ul{

	border:1px solid rgba(0,0,0,0.1);
	border-radius:2px;
	list-style:none;
	background-color:#ffffff;
	padding: 0;
	//border-right:4px solid #0075d8;	
	
} 

.add-trade ul li{
	
	display:block;
	margin:0;
	border-bottom:1px solid rgba(0,0,0,0.1);
} 

.add-trade ul li.two{
	background-color:#f3f3f3;
}


.add-trade ul li a{
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding:16px 7px;
	color:inherit;
	text-decoration:none;	
}   


.add-trade ul a:hover{	
	text-decoration:none;
	border-right:4px solid #0075d8;
} 

.add-trade ul li .icon{
	font-size:18px ;
	margin-right:10px;
}  




.add-trade img{
	width:65%;
	border-radius: 100%;
	border: 1px solid rgba(0,0,0,0.2);
	position:relative;
	top:15px;
} 

.add-trade .person-name{
	font-size:20px;
	margin:15px 0 3px;
}

.add-trade .rating{
	font-size:15px;
	color: rgba(0,0,0,0.6); 
	
}

.add-trade .info-box{
	border-left:1px solid rgba(0,0,0,0.1);
	background-color:#f9f9f9 !important;

}
.add-trade li.two .info-box{
	background-color:#f0f0f0 !important;
}

.add-trade .info-box a{
	display:block;
	width:100%;
	width:auto !important;
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding:3px;
	color:inherit;
	text-decoration:none;
	
}
.add-trade .info-box a:last{
	border-bottom:0px solid transparent !important;
	
}

.add-trade .info-box .icon{
	font-size:15.5px;
} 


